            <!-- Nav -->
            <nav class="flex items-center gap-6">
              <a
                href="#projects"
                class="text-sm font-medium decoration-purple-600 decoration-2 underline-offset-8 hover:text-black hover:underline dark:decoration-purple-400 dark:hover:text-white"
              >
                Projects
              </a>
              <a
                href="#contact"
                class="text-sm font-medium decoration-purple-600 decoration-2 underline-offset-8 hover:text-black hover:underline dark:decoration-purple-400 dark:hover:text-white"
              >
                Hire me
              </a>
            </nav>
            <!-- END Nav -->